<html>
	<head>
		<title>Admin</title>
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/bootstrap-theme.css">
		<link rel="stylesheet" href="/css/base.css">
		<link rel="stylesheet" href="/css/font-awesome.min.css">
		<link rel="stylesheet" href="/css/angular-growl.min.css">
	</head>
	<body ng-app="admin" ng-controller="AdminController">
		<div growl></div>
		<div class="container">
			<div class="row">
				<div class="page-header">
					<h1>Administrative Functions</h1>
				</div>
				<h1>Raw RCON Commands</h1>
				<hr class="tall">
				<div class="col-md-12">
					<div class="form-group text-center">
						<form class="form-inline">
							<label for="rconCommand">Command</label>
							<input type="text" ng-model="rconcommandbox" class="form-control" size=80 id="rconCommand" placeholder="Enter command">
							<button type="submit" ng-click="runCommand()" class="btn btn-default">Run</button>
						</form>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<pre>{{rconoutput}}</pre>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<h1>Team Challenge Status</h1>
				<hr class="tall">
				<div class="col-md-6 text-center red">
					<div class="pad-column">
						<div class="row score-header bg-red">
							<div class="team">
								Red
							</div>
							<div class="credits">
								<i class="fa fa-money"></i> {{red.info.credits}}
							</div>
							<div class="score">
								{{red.info.score}}
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 challenges">
								<div class="row" ng-repeat="chal in challenges">
									<div class="col-sm-5 text-left">
										<h5>{{chal.name}}</h5>
									</div>
									<div class="col-sm-4">
										<span class="status text-success" ng-if="red.info.challenges[chal.id]"><i class="fa fa-check"></i> Done</span>
										<span class="status" ng-if="!red.info.challenges[chal.id]"><i class="fa fa-times"></i> Incomplete</span>
									</div>
									<div class="col-sm-3">
										<div class="btn-group btn-xs pull-right">
											<button class="btn btn-success" ng-click="setChallenge(red, chal, true)"><i class="fa fa-thumbs-up"></i></button>
											<button class="btn btn-danger" ng-click="setChallenge(red, chal, false)"><i class="fa fa-thumbs-down"></i></button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 text-center blue">
					<div class="pad-column">
						<div class="row score-header bg-blue">
							<div class="team">
								Blu
							</div>
							<div class="credits">
								<i class="fa fa-money"></i> {{blue.info.credits}}
							</div>
							<div class="score">
								{{blue.info.score}}
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 challenges">
								<div class="row" ng-repeat="chal in challenges">
									<div class="col-sm-5 text-left">
										<h5>{{chal.name}}</h5>
									</div>
									<div class="col-sm-4">
										<span class="status text-success" ng-if="blue.info.challenges[chal.id]"><i class="fa fa-check"></i> Done</span>
										<span class="status" ng-if="!blue.info.challenges[chal.id]"><i class="fa fa-times"></i> Incomplete</span>
									</div>
									<div class="col-sm-3">
										<div class="btn-group btn-xs pull-right">
											<button class="btn btn-success" ng-click="setChallenge(blue, chal, true)"><i class="fa fa-thumbs-up"></i></button>
											<button class="btn btn-danger" ng-click="setChallenge(blue, chal, false)"><i class="fa fa-thumbs-down"></i></button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<h1>Manual Team Actions</h1>
			<hr class="tall">
			<div class="row">
				<div class="col-md-6">
					<rcon-button icon="fire" name="Burn Team" cmd="sm_burn @%TAR% 10"></rcon-button>
				</div>
				<div class="col-md-6">
					<rcon-button icon="bomb" name="Blow Up Team" cmd="sm_bomb @%TAR% 10"></rcon-button>
				</div>
		</div>
		<script src="/js/jquery-2.1.3.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/angular.min.js"></script>
		<script src="/js/angular-resource.min.js"></script>
		<script src="/js/angular-growl.min.js"></script>
		<script src="admin.js"></script>
	</body>
</html>